*{
    padding: 0px;
    margin: 0px;
}
.box{
    height: 100px;
    width: 300px;
}
.box1{

    background-color: blue;
}
.box2{
    
    background-color: red;
}
.box3{
    background-color: yellow;
}
.box4{
    background-color: green;
}